/*Faccio il css Reset*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



/*iniziamo con dare colore a tutti gli elementi dell'header*/
header{
    background-color: rgb(160, 250, 250);
    display:flex;
    height: 100px;
    justify-content:space-between;
    align-items: center;
}

.container_header{
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    align-content: space-between;
    width: 1000px;

}

.header_box {
    width:300px;
    background-color: orange;
    border:3px, dotted black;
    height: 25px;
    margin:0 auto;
}

nav.header_box{
    flex-grow: 1;
    text-align: center;
}    

a{
    text-decoration: none;
    text-align: center;
}

section.header_box.login{
    text-align: end;
}

/*iniziamo con il jumbotron*/
#pagina_iniziale{
    height: 100%;
    background-color: blue;
}

.container_pagina_iniziale{
    background-color: darkblue;
    height:600px;
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.container_pagina_iniziale div#paginainiziale{
    height:calc(80%);
    width: 900px;
    background-color: rgb(220, 45, 255);
    align-self: center;
    border:3px, black dotted;
}

.container_sfondo_bianco{
    display:flex;
    width: auto;
    height: 600px;
    background-color:white;
    justify-content: center;
    align-items: center;
}

.container_sfondo_grigio{
    display:flex;
    width: auto;
    height: 600px;
    background-color:grey;
    justify-content: center;
    align-items: center;
}

.container_sfondo_grigioverde{
    display:flex;
    width: auto;
    height: 1000px;
    background-color:grey;
    justify-content: center;
    align-items: center;
}

.container_sfondo_nero{
    display:flex;
    width: auto;
    height: 1000px;
    background-color:rgb(46, 46, 46);
    justify-content: center;
    align-items: center;
}
.container_mainbox{
    display:flex;
    width: 1400px;
    height: calc(80%);
}

.container_mainbox.green{
    display:flex;
    width: 1400px;
    height: 900px;
}


.main_box{
    border:black, 3px, dotted;
    background-color: cyan;
    flex:2;
}

.main_box.pink{
    background-color: pink;
    flex:1;
}

.main_box.pink_grey{
    background-color: pink;
    flex:2;
}

.main_box_grey{
    border:black, 3px, dotted;
    background-color: cyan;
    flex:1;
}

.main_box_green{
    border:black, 3px, dotted;
    background-color: rgb(8, 80, 24);
    flex:1;
}